@import '../../styles/variables';
@import '../../styles/mixins';

.LEDIntensitiesContainer {
  padding: $gap-sm;
  height: 250px;
  overflow-y: auto;
}

.StatusSpan {
  transition: all 0.2s ease-in-out;
}
