@import '../../../styles/variables';
@import '../../../styles/mixins';

@mixin settings {
  padding: $gap-lg $gap-2xl;
}

.PDSettings {
  @include settings;
}

.PDSettingsPDColumns {
  @include flex-center;
  @include border-primary-light;
  gap: $gap-3xl;
  padding: $gap-base $gap-xl;

  span {
    @include flex-center;
    gap: $gap-base;

    label {
      font-size: $size-font-baseLg;
    }

    input {
      width: $gap-xl;
      height: $gap-xl;
      accent-color: $color-primary;
      color: #fff;
    }
  }
}
