@import '../../../styles/variables';
@import '../../../styles//mixins';

.RecordingItem {
  position: relative;
  margin: 5px 0;
  width: 100%;
  height: 7rem;
  padding: 0 $gap-2xl;
  gap: $gap-xl;
  border-bottom: 1px solid rgba($color: #fff, $alpha: 0.2);
  z-index: 5;
  @include flex-center;
  @include hover-state-secondary;
}

.RecordingItemSelected {
  @include ring;
}

.RecordingItemActive {
  background-color: rgba($color: $color-primary, $alpha: 0.15);
  @include ring;
}

.Icon {
  width: 5%;

  svg {
    fill: rgba($color: #fff, $alpha: 0.25);
  }
}

.Info {
  position: relative;
  width: 100%;

  span {
    display: block;

    span {
      display: inline-block;
      color: $color-primary;
    }
  }

  span:last-child {
    color: rgba($color: #fff, $alpha: 0.5);
  }
}

.LastUpdate {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.Buttons {
  height: 100%;
  width: 15%;
  justify-content: flex-end;
  @include flex-center;

  button {
    height: 100%;
    padding: 0 $gap-base;
    @include hover-state-secondary;
    @include active-focus-state;
  }
}
