@import '../../../styles/variables';
@import '../../../styles/mixins';

.SelectableCard {
  padding: $gap-base $gap-xl;
  width: 100%;
  background-color: rgba($color: #fff, $alpha: 0.1);
  gap: $gap-lg;
  min-width: 20rem;
  @include border-primary-light;
  @include flex-center;

  span {
    svg {
      fill: rgba($color: #fff, $alpha: 0.3);
    }
  }
}

.SelectableCardSelected {
  @include ring;
}
