@import '../../styles/variables';
@import '../../styles//mixins';

$tab-button-width: 100%;
$tab-button-height: 40px;

.Tabs {
  width: 100%;
  height: 100%;
}

.TabButtonsContainer {
  min-width: 100%;
  height: $tab-button-height;
  position: relative;
  border-bottom: 2px solid rgba(#fff, 0.15);
  @include flex-center;
}

.TabButton {
  width: $tab-button-width;
  height: $tab-button-height;

  &:hover {
    background: $color-bg-tertiary;
  }
}

.TabButtonActive {
  background: $color-bg-tertiary;
}

.TabIndicator {
  position: absolute;
  bottom: -1.5px;
  left: 0px;
  height: 3px;
  background: $color-primary;
  transition: left 0.25s ease-in-out;
}

.TabItemContainer {
  height: 100%;
  width: 100%;
  padding: $gap-xl;
}

.TabItem {
  height: calc(100% - 43px);
  position: relative;
  @include slide-left;
}
