@import '@styles/variables';

$x-axis-height: 40px;
$sensor-info-width: 30px;

.ChartContainer {
  position: absolute;
  top: $size-toolbar;
  left: 0;
  width: 100%;
  height: calc(100% - $size-toolbar);
}

.ChartAreaContainer {
  position: absolute;
  left: $sensor-info-width;
  height: calc(100% - $x-axis-height);
  width: calc(100% - $sensor-info-width);
  background: #0a0a0a;
}

.ChartXAxis {
  height: $x-axis-height;
}

.Chart {
  position: absolute;
  left: 150px;
  top: 0;
  width: calc(100% - 150px);
  height: calc(100% - 35px - $x-axis-height);
}

.ChartChannels {
  width: 150px;
  height: calc(100%);
  position: relative;
}

.ChartBarView {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100%);
  z-index: 100;
  background-color: #fff;
}
