@import '@styles/variables';
@import '@styles/mixins';

.ChannelUI {
  height: 100%;
  width: 150px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  background: rgb(17, 17, 17);

  &:not(:last-child) {
    border-bottom: 1px solid $border-primary-color;
  }
}

.ChannelUIInfo {
  margin: 5px;
  padding: $gap-xs $gap-xs;
  gap: $gap-base $gap-xs;
  border-radius: $border-primary-radius;
  @include flex-center;
  @include hover-state;
  @include active-focus-state;

  span:first-child {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: $border-primary-radius;
    background-color: #fff;
  }
}

.ChannelLane {
  position: absolute;
  left: 0;
  width: 100%;
  border-bottom: 1px solid $border-primary-color;
}
