@import '@styles/variables';
@import '@styles/mixins';

.ListboxButton {
  width: 100%;
  padding: $gap-2xs $gap-lg;
  position: relative;
  justify-content: space-between;
  background: $color-bg-tertiary;
  @include hover-state-secondary;
  @include flex-center;
  @include border-primary-light;

  &:active {
    @include ring;
  }
}

.ListboxOptionsContainer {
  position: absolute;
  top: 35px;
  left: 0;
  min-width: 150px;
  width: 100%;
  z-index: 80;
  background: $color-bg-tertiary;
  max-height: 200px;
  padding: $gap-xs $gap-xs;
  overflow-y: auto;
  @include border-primary-light;
  @include slide-left;

  li {
    font-size: $size-font-base;
    padding: $gap-sm $gap-base;
    justify-content: space-between;
    border-radius: $border-primary-radius;

    @include flex-center;
    @include hover-state-secondary;
    @include active-focus-state;
  }
}
