@import '@styles/variables';
@import '@styles/mixins';

.ChannelUI {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 10;
  background: rgba(17, 17, 17);
  border-right: 1px solid $border-primary-color;

  &:not(:last-child) {
    border-bottom: solid $border-primary-width $border-primary-color;
  }
}

.ChannelInfo {
  padding: $gap-sm $gap-2xl $gap-sm $gap-sm;
  margin: 5px;
  gap: $gap-xs;
  border-radius: $border-primary-radius;
  @include flex-center;
  @include hover-state;
  @include active-focus-state;

  span {
    display: inline-block;
  }

  span:first-child {
    width: 15px;
    height: 15px;
    background: $border-secondary-color;
  }
}
