/// ------------ Colors ------------ ///
// Font colors
$color-text-primary: #cccccc;
$color-text-secondary: #464646;
$color-text-white: #ffffff;

// Background colors
$color-bg-primary: #181818;
$color-bg-secondary: #232323;
$color-bg-tertiary: #333333;

// Border colors
$color-border-primary: #333333;

// Other colors
$color-left-nav: #b4b4b4;
$color-white: #fff;
$color-primary: #18a6e3;

/// ------------ Sizes ------------ ///

// Font sizes
$size-font-xs: 0.75rem;
$size-font-sm: 0.875rem;
$size-font-base: 0.95rem;
$size-font-lg: 1.5rem;
$size-font-xl: 2rem;
$size-font-2xl: 3rem;

// Component sizes
$size-title-bar: 35px;
$size-lef-nav: 60px;
$size-bottom-bar: 30px;

/// ------------ Gaps ------------ ///
$gap-2xs: 0.18rem;
$gap-xs: 0.25rem;
$gap-sm: 0.375rem;
$gap-base: 0.5rem;
$gap-lg: 0.75rem;
$gap-xl: 1rem;
$gap-2xl: 2rem;
$gap-3xl: 3rem;

/// ------------ Borders ------------ ///
$border-primary-width: 2px;
$border-secondary-width: 1px;
$border-primary-color: #333333;
$border-primary-radius: 3px;
