@import './preflight';
@import '../../assets/fonts/inter.css';
@import './variables';
@import './mixins';
@import './utilities';
@import './scrollbar';
@import './channel.css';

*,
:before,
:after {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%; // 1rem = 16px;
  outline-offset: 1px;
}

*:focus-visible {
  @include ring;
}

html,
body,
.main-window {
  user-select: none;
  -webkit-user-select: none;
  background: $color-bg-primary;
  color: $color-text-primary;
  overflow: hidden;
  font-family: 'Inter', ui-sans-serif, system-ui, -apple-system, Arial;
  font-weight: 400;
}

body {
  width: 100vw;
  height: 100vh;
}

div,
span,
p {
  font-size: $size-font-base;
}

button {
  cursor: default;
  * {
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

input[type='text'],
input[type='number'] {
  transition: all 0.2s ease-in-out;

  &::placeholder {
    color: $color-text-tertiary;
  }

  &:hover {
    &::placeholder {
      color: $color-text-primary;
    }
  }
}

h1 {
  font-size: $size-font-2xl;
}

h2 {
  font-size: $size-font-xl;
}

h3 {
  font-size: $size-font-lg;
}

.main-container {
  position: absolute;
  top: $size-title-bar;
  left: 0;
  height: calc(100% - $size-title-bar);
  width: 100%;
  display: flex;
}

.content-container {
  width: 100%;
}

.main-window,
.content-container {
  overflow: hidden;
}

.view-container {
  width: 100%;
  height: calc(100% - $size-bottom-bar);
}

.statusbar-container {
  width: 100%;
  height: $size-bottom-bar;
}

.overlay-transparent {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 50;
}
