@import '@styles/variables';
@import '@styles/mixins';

$channel-ui-width: 150px;
$channel-info-height: 25px;

.ChannelsContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ChannelLanes {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.ChartCursorContainer {
  position: absolute;
  left: $channel-ui-width;
  top: 0;
  width: calc(100% - $channel-ui-width);
  height: 100%;
  z-index: 30;
  pointer-events: none;
}

.ChartCursorItem {
  position: absolute;
  left: 0;
  z-index: 30;
}

.ChannelLaneItem {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: solid $border-primary-width rgba(255, 255, 255, 0.2);
  z-index: 11;
  pointer-events: none;
}

.ChannelUI {
  position: absolute;
  top: 0;
  left: 0;
  width: $channel-ui-width;
  height: 100%;
  border-right: solid $border-primary-width rgba(255, 255, 255, 0.2);
  pointer-events: all;
}

.ChannelUIInnerContainer {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: $gap-xs $gap-base;
  @include slide-left;
}

.ChannelInfo {
  padding-left: $gap-sm;
  gap: $gap-xs;
  margin-top: 3px;
  border-radius: $border-primary-radius;
  width: 100%;
  height: $channel-info-height;
  @include flex-center;
  @include hover-state;
  @include active-focus-state;

  span {
    display: inline-block;
  }

  span:first-child {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    background: $border-secondary-color;
  }
}

.ChannelLanesSeparatorButton {
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 6px;
  // cursor: ns-resize;
  transition: background 0.1s ease;
  z-index: 5;
}

.ChannelSeparatorActive {
  background: $color-primary;
  height: 6px;
  bottom: -3px;
}

.ChannelSettings {
  position: fixed;
  top: 0;
  left: 0;
  width: 450px;
  height: 250px;
  background: $color-bg-secondary;
  @include border-primary;
  z-index: 51;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.8);
  @include slide-left;
}

.ChannelSettingsIndicatorTop {
  border-bottom: 15px solid $color-bg-secondary;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  content: '';
  display: inline-block;
  left: 60px;
  position: absolute;
  top: -10px;
}

.ChannelSettingsIndicatorBottom {
  border-top: 15px solid $color-bg-secondary;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  content: '';
  display: inline-block;
  left: 60px;
  position: absolute;
  bottom: -10px;
}

.ChannelActionContainer {
  width: 100%;
  @include flex-center;
  justify-content: center;
  gap: $gap-xs;
}

.ChannelActionButton {
  padding: $gap-sm;
  border-radius: $border-primary-radius;
  @include hover-state;

  &:active {
    @include ring;
  }
}

.ChannelActionButtonActive {
  background: $color-primary;
  @include active-focus-state;
}
