{
  "rules": {
    "no-console": "off",
    "global-require": "off",
    "import/no-dynamic-require": "off",
    "no-unused-expressions": 0,
    "allowForLoopAfterthoughts": true,
    "no-plusplus": "off"
  }
}
