<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Spectrum NIRS Software" />
    <link rel="apple-touch-icon" href="%PUBLIC_URL%/logo192.png" />

    <title>Spectrum</title>
  </head>
  <body class="bg-dark h-screen w-full antialiased text-base">
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root" class="font-sans text-white h-full"></div>
    <div id="modal"></div>
    <div class="z-[500] fixed top-0 left-0" id="contextMenu"></div>
  </body>
</html>
