<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!-- <meta http-equiv="Content-Security-Policy" content="script-src 'self';" /> -->
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Spectrum NIRS Software" />
    <link rel="apple-touch-icon" href="%PUBLIC_URL%/logo192.png" />

    <title>Spectrum</title>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root" class="h-full w-full font-sans text-white">
      <div
        style="
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.3s ease;
          font-family: Inter, sans-serif;
          color: #fff;
          background-color: #1e1e1e;
        "
      >
        <div style="display: block">Starting Engine ...</div>
      </div>
    </div>
    <div id="modal"></div>
    <div class="fixed top-0 left-0 z-[500]" id="contextMenu"></div>
  </body>
</html>
