<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Photon Lab NIRS Software" />
    <link rel="apple-touch-icon" href="%PUBLIC_URL%/logo192.png" />

    <title>Spectrum | Startup</title>
  </head>
  <body class="h-screen w-full bg-dark antialiased">
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="startup" class="h-full font-sans text-lg text-white">
      <div
      style="
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;
        font-family: Inter, sans-serif;
        color: #fff;
        background-color: #1e1e1e;
      "
    >
    </div>
  </body>
</html>
