@import '@styles/variables';
@import '@styles/mixins';

.MainContainer {
  padding: $gap-3xl $gap-2xl;
}

.Form {
  margin-top: $gap-lg;
  margin-bottom: $gap-lg;
}

.AvailableDevices {
  margin: $gap-base 0 $gap-xl 0;
  @include flex-center;
}
