@import '../../styles/variables';
@import '../../styles/mixins';

.StatusBar {
  width: 100%;
  height: 100%;
  border-top: solid $border-primary-width $border-primary-color;
  @include flex-center;
}

.LeftItems {
  width: 35%;
  height: 100%;
  @include flex-center;
}

.RightItems {
  width: 65%;
  height: 100%;
  @include flex-center;
  justify-content: flex-end;
}

.StatusBarItem {
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  gap: $gap-xs;
  @include flex-center;
  @include hover-state;
  span {
    margin-bottom: 1px;
  }
}
