@import '@styles/variables';
@import '@styles/mixins';

.Table {
  width: 100%;
  background: $color-bg-secondary;
  @include border-primary;
}

.TableColumn {
  @include flex-center;
  width: 100%;
  font-size: $size-font-baseLg;
  padding: $gap-lg $gap-xl;
  background: $color-bg-tertiary;
  border-bottom: 1px solid $border-secondary-color;
  span {
    font-size: inherit;
  }
}

.TableItem {
  padding: $gap-base $gap-xl;
  @include hover-state;

  &:not(:last-child) {
    border-bottom: solid $border-primary-width $border-primary-color;
  }

  &:active,
  &:focus {
    @include ring;
  }

  div {
    span {
      display: block;
    }

    span:first-child {
      font-weight: 500;
    }

    span:last-child {
      color: $color-text-tertiary;
    }
  }
}
