@import 'tippy.js/dist/tippy.css';
@import 'tippy.js/themes/light.css';

/** Using tailwind css utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .border-primary {
    @apply border-[1px] border-white border-opacity-[0.12];
  }
}

.font-larger {
  font-size: 120%;
}

.font-larger .text-sm {
  font-size: 16px !important;
}

.font-inherit {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
}

:root {
  --title-bar-size: 30px;
  --main-navigation-size: 45px;
}

body {
  overflow-y: hidden;
}

/** Custom Styles */
div {
  position: relative;
}

img {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

textarea:focus-visible,
input[type]:focus-visible {
  @apply ring-2 ring-accent;
}

.calc-height {
  height: calc(100% + 0px);
}

.window-button {
  width: 46px;
  height: var(--title-bar-size);
  display: inline-block;
  padding: 0px 15px;
  -webkit-app-region: no-drag;
  pointer-events: all;
}

.window-button:hover {
  cursor: pointer;
}

.header,
.window-drag {
  -webkit-app-region: drag;
}

.top-menu,
.no-drag {
  -webkit-app-region: no-drag;
}

.main-container {
  position: absolute;
  top: var(--title-bar-size);
  left: var(--main-navigation-size);
  width: calc(100% - var(--main-navigation-size));
  height: calc(100% - var(--title-bar-size) * 2);
  overflow-y: hidden;
  overflow-x: hidden;
}

.border-bottom-1 {
  @apply border-b-[1px] border-grey5;
}

.border-light {
  @apply border-[1px] border-white border-opacity-10;
}

.border-bottom-light {
  @apply border-b-[1px] border-white border-opacity-10;
}

.icon-button {
  width: var(--main-navigation-size);
  padding: 0.3rem 0;
  margin-bottom: 0.8rem;
  border-left: 4px solid #333;
}

.icon-button svg {
  margin-left: auto;
  margin-right: auto;
  padding-right: 5px;
  fill: #7f7f7f;
}

.icon-button:hover svg {
  fill: white;
}

.icon-button-active {
  border-left: 4px solid #fff;
}

.icon-button-active svg {
  fill: white;
}

.custom-height {
  height: calc(100% - 3rem);
}

.tab-item-height {
  height: 3rem;
}

.overflow-y-hidden {
  overflow-y: hidden !important;
}

.separator {
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  height: 75%;
  margin: 0 0.5rem;
  padding: 0.2rem 0;
  vertical-align: middle;
  align-self: center;
}

/* Loading Animation */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 60px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 44px;
  height: 44px;
  margin: 8px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

.lds-large {
  width: 85px;
  height: 85px;
}

.lds-large div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 68px;
  height: 68px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* total width */
::-webkit-scrollbar {
  background-color: rgb(146, 146, 146);
  width: 16px;
}

/* background of the scrollbar except button or resizer */
::-webkit-scrollbar-track {
  background-color: rgb(146, 146, 146);
}

/* scrollbar itself */
::-webkit-scrollbar-thumb {
  background-color: #3d3d3d;
  border-radius: 16px;
  border: 4px solid rgb(146, 146, 146);
}
::-webkit-scrollbar-thumb:hover {
  background-color: #333333;
  border: 3px solid rgb(126, 126, 126);
}

/* set button(top and bottom of the scrollbar) */
::-webkit-scrollbar-button {
  display: none;
}

.chart-scrollbar::-webkit-scrollbar {
  @apply border-1 border-grey5;
  width: 16px;
}

.chart-scrollbar::-webkit-scrollbar-track {
  @apply bg-dark;
}

/* scrollbar itself */
.chart-scrollbar::-webkit-scrollbar-thumb {
  background-color: #3a3a3a;
  border-radius: 1px;
  border: none;
  width: 12px;
}
/* scrollbar itself */
.chart-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555555;
}

/* scrollbar itself */
.chart-scrollbar::-webkit-scrollbar-thumb:active {
  background-color: #707070;
}

/** Custom media queries */
@media only screen and (max-width: 1600px) {
  html {
    font-size: 90%;
  }
}

/** Animations **/

.slideLeft {
  animation: slideLeft 0.3s forwards;
}

@keyframes slideLeft {
  0% {
    transform: translateX(12px);
    opacity: 0.3;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

/* In order for tailwindCSS to include dynamically selected classes from react a dummy class is defined */
.dummy1 {
  @apply bg-green-300 bg-rose-300 bg-violet-300 bg-green-600 bg-rose-600 bg-violet-600 text-green-800 text-rose-800 text-violet-800;
}
