@import 'tippy.js/dist/tippy.css';
@import 'tippy.js/themes/light.css';

/** Using tailwind css utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/** Custom Styles */
div {
  position: relative;
}

textarea:focus-visible,
input[type]:focus-visible {
  @apply ring-2 ring-accent;
}

.window-button {
  width: 48px;
  height: 40px;
  display: inline-block;
  padding: 0px 15px;
  transition: 0.15s ease;
  -webkit-app-region: no-drag;
}

.window-button:hover {
  cursor: pointer;
}

.header {
  -webkit-app-region: drag;
}

.top-menu {
  -webkit-app-region: no-drag;
}

.main-navigation {
  position: fixed;
  top: 40px;
  left: 0;
  height: calc(100% - 70px);
  width: 4rem;
  background-color: #333;
}

.main-container {
  position: absolute;
  top: 40px;
  left: 4rem;
  width: calc(100% - 4rem);
  height: calc(100% - 70px);
  max-height: calc(100% - 70px);
  margin-left: auto;
  overflow-y: hidden;
  overflow-x: hidden;
}

.icon-button {
  width: 4rem;
  padding: 0.5rem 0;
  margin-bottom: 0.5rem;
  border-left: 5px solid #333;
  transition: 0.15s ease;
}

.icon-button svg {
  margin-left: auto;
  margin-right: auto;
  padding-right: 5px;
  fill: #7f7f7f;
  transition: 0.15s ease;
}

.icon-button:hover svg {
  fill: white;
}

.icon-button-active {
  border-left: 5px solid #fff;
}

.icon-button-active svg {
  fill: white;
}

.fit-to-container {
  height: calc(100% - 56px);
}

.custom-height {
  height: calc(100% - 3rem);
}

.tab-item-height {
  height: 3rem;
}

.separator {
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  height: 75%;
  margin: 0 0.5rem;
  padding: 0.2rem 0;
  vertical-align: middle;
  align-self: center;
}

/* Loading Animation */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 60px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 44px;
  height: 44px;
  margin: 8px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

.lds-large {
  width: 85px;
  height: 85px;
}

.lds-large div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 68px;
  height: 68px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* total width */
::-webkit-scrollbar {
  background-color: #fff;
  width: 16px;
}

/* background of the scrollbar except button or resizer */
::-webkit-scrollbar-track {
  background-color: #fff;
}
::-webkit-scrollbar-track:hover {
  background-color: #f4f4f4;
}

/* scrollbar itself */
::-webkit-scrollbar-thumb {
  background-color: #3d3d3d;
  border-radius: 16px;
  border: 4px solid #fff;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #333333;
  border: 3px solid #f4f4f4;
}

/* set button(top and bottom of the scrollbar) */
::-webkit-scrollbar-button {
  display: none;
}

/** Custom media queries */
@media only screen and (max-width: 1600px) {
  html {
    font-size: 90%;
  }
}
