@import '../styles/variables';

.ChartContainer {
  position: absolute;
  top: calc($size-toolbar);
  left: 0;
  display: flex;
  width: 100%;
  height: calc(100% - $size-toolbar);
}

.Chart {
  width: 100%;
  height: 100%;
}

.ChartChannels {
  width: 150px;
  height: 100%;
  position: relative;
}
